<template>
    <div>
        <header class="main-header">
            <div class="background-overlay text-white py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center justify-content-center align-self-center  titulo-principal">
                            <h1>La pagina web perfecta para tu negocio</h1>
                            <a href="#" class="btn btn-outline-secondary btn-lg text-white">
                                Saber mas
                            </a>
                        </div>
                        <div class="col-md-6">
                            <img src="https://gitlab.com/spartan264/gugama/raw/master/img/producto.jpg" alt="Diseño web" class="img img-fluid" style="margin-top: 10px !important;opacity: 0.85; filter: alpha(opacity=85);">
                        </div>
                     </div>
                 </div>
             </div>
        </header>

    </div>    
</template>

<script>
export default {
    
}
</script>

<style scoped>

.main-header{
    background-image: url('https://gitlab.com/spartan264/gugama/raw/master/img/Paisajes%20Naturales%20De%20Vista%20Natural%20(1).jpg');
    background-size: cover;

}

.background-overlay{
    background: rgba(230, 126, 34, 0.45);
    min-height: 500px;

}

.titulo-principal{
  text-shadow: 0px 0px 30px #000;
}


</style>
