<template>
  <div>
    <div>
      <Navbar></Navbar>
      <Home></Home>

    </div>


  </div>
</template>

<script>

import Navbar from './components/navigation/Navbar.vue';
import Home from "./components/home/Home.vue";

  export default {
    
    components: {
      Navbar,
      Home
    }
    
  }
</script>
