<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://gitlab.com/spartan264/gugama/raw/master/img/gugamaicon.png" alt="Gugama"  style="width: 30%">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">Registro</a>
                </li>


            </ul>

        </div>
      </div>
    </nav>

  </div>
</template>
<script>
  export default {
    
  }
</script>

<style scoped>

</style>
